*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

.header_section{
 
    background-color: #363543;
    
}
.header_section .navbar .container .logo_name{
    color: white;
    font-size: 28px;
}

.header_section .navbar .container a{
    color: white;
    font-size: 18px;
}
.header_section .navbar .container a:hover{
color: silver;
}
.header_section .navbar-collapse{
    justify-content: center;
    
}
.header_section .navbar-collapse ul{
    gap:20px;
}
.icon a{
    text-decoration: none;
    color: white;
}
.icon{
    color: white;
    
}
.icon i:hover{
    color: silver;
    transition: .3s;
}
.icon i {
    padding: 20px 10px;
    font-size: large;
}

/* .container{
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    margin-top: 0px;
    background-color: #363543;
    height: 80vh;
   
} */
    

h1{
    position: relative;
    color: #91909e;
    font-size: 40px;
    z-index: 1;
}
strong{
    color: white;
    font-size: 50px;
    font-weight: bolder;
}

.hero_section{
    background-color: #363543;
}

.hero_section .container .row .col-md-4{
    display: flex;
    align-items: center;
}
.center{
    position: absolute;
    width: 26%;
    border-radius: 50%;
    background-color: rgba(45, 45, 57, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.center img{
    z-index: 1;
}
.center .hero_image{
   
    width: 243px;
    height: 300px;
}
.center .hero_image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.columnleft{
    position: relative;
letter-spacing: 0.1em;
text-decoration: none;
align-content: center;
line-height: 1.5;
color: #91909e;
}
.line{
    height: 5px;
    background-color: yellow;
    width: 80%;
    
}
.columnright{
    color: rgb(214, 208, 208);
position: relative;


}
.arrow{
    display: flex;
    align-items: center;
    color: #fab829;
    
}
.social{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    
    
}
.social i{
    background-color: #282834;
    border-radius: 50%;
    padding: 10px 10px;
}
.columnright .social a{
    text-decoration: none;
    color: #fab829;
}
.links{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    background-color: #363543;
    margin: auto;
    box-shadow: 0px 0px 3px 2px rgb(40, 37, 37);
    z-index: 1;
    bottom: -30px;
    padding: 10px 10px;   
}
.social_icons{
    display: flex;
    background-color: rgba(45,45,57,255);
    border-radius: 10%;
    align-items: center;
    justify-content: center;
}

.social_icons span{
    color: white;
    font-family: serif;
    font-size: 25px;
    
}
.about_section{
    background-color: #282834;
}
.description{
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    line-height: 1.5;
   
}
.description h2{
    color: #fdfeff;
    font-size: 30px;
}
.description p{
    color: #bdbdc9;
    
}
.number span{
    color: #fdb71b;
    
}
.number{
    display: flex;
    justify-content:space-around;
}
.experience{
    align-items: center;
    justify-content: center;
    color: beige;
    position: relative;
    line-height: 1.5;
    height: 60vh;
  
}
.experience h3{
    font-size: 20px;
    color: #e5e3ee;
}
.experience hr{
    width: 100%;
    height: 2px;
    background-color: #bab8cd;
}
.experience span{
    color: #f2b537;
}
.experience p{
font-size: 15px;
color: #bdbdc9;;
}

.ui {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;
    
}
.ui span{
    padding: 0px 90px;
    position: absolute;

}
.web {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;
    margin-top: 10px;

    
}
.web span{
    padding: 0px 90px;
    position: absolute;
}
.app {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;
    margin-top: 10px;
}
.app span{
    padding: 0px 90px;
    position: absolute;
}
.boxes{
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill_card{
    background-color: #403f51;
    opacity: 0.9;
    padding: 10px 10px;
    max-width: 80%;
}
.about_section .skill_card a{
    width: 100%;
    height: 100%;
}
.about_section .skill_card a image{
    width: 50px;
    height: 50px;
}
.boxes h3{
    color: #dddcea;

}
.boxes p{
    color: #bab8cd;
    font-size: 10px;
}
.boxes img{
    background-color: #363543;
}
.footer{
   width:100%;
   height:40px;   
   background:#363543
   

}